@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;800&display=swap');
/*==> default styling starts */
html,  *, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
    /* scroll-behavior: smooth; */
  }
html{
    font-size: 62.5%;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Montserrat',Roboto,Arial,Helvetica,Source Sans Pro,sans-serif;
    color: rgb(89, 89, 89);
    background: #fff;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}
ul, ul li, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
section{
    margin-bottom: 100px;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
@media only screen and (max-width: 480px) {
    .container{
        padding: 30px;
    }
}
.section-title{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* Hero Section Design Starts  */
.hero-section{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    grid-column-gap: 100px;
    width: 100%;
}
.hero-section__image{
    max-width: 680px;
    display: block;
}
.hero-section__image:before {
    content: "";
    position: absolute;
    top: -40px;
    left: -40px;
    width: 100%;
    height: 90%;
    background-color: #f3d1d1;
}

.hero-section__image img{
    width: 100%;
    /* animation: float 3s ease-in-out infinite; */
    /* -webkit-animation: float 3s ease-in-out infinite; */
}
.hero-section__content-subtitle{
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.hero-section__content-subtitle h3 {
    font-size: 12px;
    padding: 5px 10px;
    background: #80b435;
    color: #fff;
    font-weight: 500;
}
.hero-section__content-subtitle .date{
    font-size: 13px;
    text-transform: capitalize;
    color: #80b435;
    font-weight: 600;
}
.hero-section__content-title{
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;    
    margin-bottom: 25px;
    color: #2a398f;
}
.hero-section__content-text{
    font-size: 20px;
    font-weight: 500;
}

.hero-section__content-button {
    background: #252943;
    border: none;
    color: #fff;
    margin-top: 100px;
    line-height: 50px;
    height: 50px;
    padding: 0 40px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    /* animation: float 3s ease-in-out infinite;
    -webkit-animation: float 3s ease-in-out infinite; */
}
.hero-section__content-button:hover {
    background: #e31837;
    color: #fff;
}
@media only screen and (max-width: 1100px) {
    .hero-section__content-title{
        font-size: 45px;
        margin-bottom: 15px;
    }
    .hero-section__content-text{
        font-size: 16px;
    }
    .hero-section__content-button {
        margin-top: 60px;
        line-height: 45px;
        height: 45px;
        padding: 0 35px;
        font-size: 16px;
    }   
}
@media only screen and (max-width: 992px) {
    .hero-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-section__content-title{
        font-size: 40px;
        margin-bottom: 25px;
    }
    .hero-section__content-text{
        font-size: 17px;
    }
    .hero-section__content-button {
        font-size: 14px;
        margin-top: 60px;
        line-height: 35px;
        height: 35px;
        padding: 0 25px;
    }
}

/* Categories Design Starts  */
.main-categories-section__categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 20px;
}
@media only screen and (max-width: 1080px) {
    .main-categories-section__categories {
        grid-template-columns: repeat(2, 1fr);
    }   
}
@media only screen and (max-width: 718px) {
    .main-categories-section__categories {
        grid-template-columns: repeat(1, 1fr);
    }   
}
.categories__item{
    height: 250px;
}
.categories__item a{
    width: 100%;
    position: relative;
    padding: 10px;
    height: 100%;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}
.categories__item:first-child a{
    text-align: left;
}
.categories__item:last-child a{
    text-align: right;
}
.categories__item:nth-child(2) .categories__item-button {
    margin: 35px auto 0;
    color: #fff;
    background-color: #2f8d11;
    padding: 5PX 15PX;
    border-radius: 3px;
    border: none;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.categories__item:nth-child(2) .categories__item-button:hover {
    background-color: #e31837;
}
.categories__item:nth-child(2) .categories__item-button:before {
    display: none;
}
.categories__item:last-child .categories__item-button{
    margin-left: auto;
}
.categories__item img {
	width: 100%;
	position: absolute;
	z-index: 0;
	height: 100%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	top: 0;
	left: 0;
}
.categories__item:hover img{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.categories__item-title{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #2a398f;
    text-transform: capitalize;
}
.categories__item-subtitle {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
}
.categories__item-button {
    margin-top: 35px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 3px 5px 3px 0px;
    width: fit-content;
    color: #2f8d11;
    border-bottom: 1px solid #2f8d11;
}
.categories__item-button::before{
    content: "";
    width: 0;
    height: 2px;
    z-index: 99;
    background-color: #2f8d11;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;

}
.categories__item-button:hover::before{
    width: 100%;
}

/*= Products Carousel Section  =*/
.product_carousel__product-item{ 
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.product_carousel__product-item__product-image {
    overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	border-radius: 0px;
}
.product_carousel__product-item__product-image__image{display: block; }
.product_carousel__product-item__product-image img{
    width: 100%;
    height: auto;
    position: relative;
}
.product_carousel__product-item__product-image__image:before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0 0;
    background: #fff;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1;
    transition: all .3s ease;

}
.product_carousel__product-item:hover .product_carousel__product-item__product-image__image:before {
    left: 0;
}
.product_carousel__product-item__view-rel {
    display: inline-block;
    padding: 5px;
    background-color: #252943;
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 99;
}

.product_carousel__product-item__product-label {
    color: #fff;
    background: #ff6f00;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    text-transform: uppercase;
    left: 10px;
    z-index: 99;
    color: #fff;
    text-transform: uppercase;
    width: 112px;
    text-align: center;
    display: block;
    position: absolute;
    left: -38px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-45deg);
    z-index: 99;
}
.product_carousel__product-item__product-label.discount{
    background: #80b435;
    right: auto;
}
.product_carousel__product-item__product-label.hot{
    background-color: #e31837;
}
.product_carousel__product-item__view {
	color: #fff;
	background: #252943;
	font-size: 16px;
	text-align: right;
	line-height: 34px;
	width: 50px;
	height: 50px;
	padding: 0 10px 0 0;
	border-radius: 50px;
	opacity: 0;
	transform: scale(0);
	position: absolute;
	bottom: -40px;
	left: -40px;
	transition: all .3s ease;
    z-index: 99;
}
.product_carousel__product-item:hover .product_carousel__product-item__view{ 
    opacity: 1;
    transform: scale(1);
    bottom: -20px;
    left: -20px;
}
.product_carousel__product-item__view:hover{
    background: #e31837;
    color: #fff;
}
.product_carousel__product-item__links{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(50%);
    position: absolute;
    bottom: 50%;
    right: 10px;
    z-index: 1;
}
.product_carousel__product-item__links li{
    margin: 5px 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all .3s ease;
}
.product_carousel__product-item__links li:nth-child(2){ 
    transition-delay: .1s;
}
.product_carousel__product-item__links li:nth-child(3){ 
    transition-delay: .2s; 
}
.product_carousel__product-item:hover .product_carousel__product-item__links li{
    opacity: 1;
    transform: translateX(0); 
}
.product_carousel__product-item__links li a {
    color: #fff;
	background: #252943;
	font-size: 15px;
	text-align: center;
	line-height: 34px;
	width: 34px;
	height: 34px;
	display: block;
	transition: all .3s ease;
	border-radius: 3px;
    position: relative;
}
.product_carousel__product-item__links li a:hover{
    color: #fff;
    background:#e31837; 
    border-color: #e31837;
}
.product_carousel__product-item__links li a:hover span{
    display: inline-block;
}
.product_carousel__product-item__links li a span {
	position: absolute;
	right: 100%;
	top: 0;
	display: none;
	background-color: #80b435;
	color: #fff;
	padding: 0px 9px;
	font-size: 10px;
	text-transform: uppercase;
	/* width: 90px; */
	font-weight: 600;
	text-align: right;
	white-space: nowrap;
}
.product_carousel__product-item__content {
    background: #fff;
	padding: 15px 0 0;
	text-align: center;
	width: 100%;
}

.product_carousel__product-item__content__ratin{
    color: #f7bc3d;
    font-size: 11px;
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}
.product_carousel__product-item__content__ratin li{ 
    display: inline-block; 
}
.product_carousel__product-item__content__ratin .disable{ 
    color: #a3a3a3; 
}
.product_carousel__product-item__content__title {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 8px;
    padding: 0 30px;
}
.product_carousel__product-item__content__title a{
    color: #333;
    transition: all 0.3s ease 0s;
}
.product_carousel__product-item__content__title a:hover{ 
    color: #ff6f00; 
}
.product_carousel__product-item__content__price{
    color: #333;
    font-size: 14px;
    min-height: 40px;
}
.product_carousel__product-item__content__price span{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}
.product_carousel__product-item__content__personalize{
    display: grid;
    width: 100%;
    place-items: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    z-index: 99;
    bottom: -100%;
    left: 0;
}
.product_carousel__product-item__content__personalize a{
    background-color: #252943;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    display: inline-block;
    padding: 0px 20px;
}
.product_carousel__product-item:hover .product_carousel__product-item__content__personalize {
	bottom: 8%;
}

@-webkit-keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1); */
      transform: translatey(-10px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3); */
      transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1); */
      transform: translatey(-10px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3); */
      transform: translatey(0px);
    }
  }












